body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.image-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  background: lightgrey;
  padding: 5px;
  border-radius: 10px;
}

.image-container img {
  margin: 3px;
  max-width: 200px;
}

.image-container img:hover {
  cursor: pointer;
}

form {
  text-align: left;
}

ul.deckList {
  overflow-x: scroll;
}

ul.deckList li.selected {
    border: gray 2px solid;
}

ul.deckList li:hover {
  cursor: pointer;
}

